PORT=5000
MONGODB_URI=mongodb+srv://siddhi01april_db_user:Gl9JQsaSVyyXrZul@cluster0.bfhdb3s.mongodb.net/ecoloop?retryWrites=true&w=majority
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
JWT_EXPIRE=7d

# Cloudinary Configuration (for image upload)
CLOUDINARY_CLOUD_NAME=dz36e3qnm
CLOUDINARY_API_KEY=142844242925746
CLOUDINARY_API_SECRET=CCfdeZ1VnqbeYVLRPTU1bscMeps

NODE_ENV=development
